mixin post(post)
  .col.post
    .col-content
      img.main(src=post.image)
      .post-text
        span.date= post.date
        h3.title= post.title
        .summary= post.summary
    a.bottom-btn.play(href="#post") Escuchar