mixin week_activities(week_activities)
  .col.week_activities
    header
      h2 Esta semana en CCD
    .week
      .day(href="#")
        h3 Hoy, Jueves 31 de Octubre
        a.activity(href="#")
          span.time 15:00
          span.title Entrevista: John Maeda
        a.activity(href="#")
          span.time 17:30
          span.title Invitado especial: Static Discos
        a.activity(href="#")
          span.time 20:00
          span.title Noticias CCD
      .day(href="#")
        h3 Viernes 1 de Noviembre
        a.activity(href="#")
          span.time 15:00
          span.title Entrevista: John Maeda
        a.activity(href="#")
          span.time 17:30
          span.title Invitado especial: Static Discos
        a.activity(href="#")
          span.time 20:00
          span.title Noticias CCD
      .day(href="#")
        h3 Sábado 2 de Noviembre
        a.activity(href="#")
          span.time 15:00
          span.title Entrevista: John Maeda
        a.activity(href="#")
          span.time 17:30
          span.title Invitado especial: Static Discos
        a.activity(href="#")
          span.time 20:00
          span.title Noticias CCD
     a.bottom-btn.view-all(href="#programacion") Ver programación completa
