.post
  position relative
  color #343333
  background #E6E6E6
  img.main
    width 100%
  .post-content
    padding 30px
    .date
      font-size 12px
      text-transform uppercase
    .title
      font-size 24px
      margin 0.6em 0
    .summary
      font-size 12px
      line-height 1.6em

  .play
    color #fff
    background #227FFA
  a.bottom-btn
    box-shadow 0 -20px 40px #E6E6E6 !important